version: '3'
services:
{{#Database}}
  {{name}}:
    image: {{{image}}}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 15s
      timeout: 15s
      retries: 15
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}
    ports:
      - "{{port}}:5432"
    volumes:
      - {{name}}_data:/var/lib/postgresql/data
{{/Database}}
{{#FrontEnd}}

  {{name}}:
    image: {{{image}}}
    ports:
      - "{{port}}:80"
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}
{{/FrontEnd}}
{{#BackEnd}}
  {{name}}:
    image: {{{image}}}
    ports:
      - "{{port}}:{{port}}"
    depends_on:
      {{#databases}}
      {{name}}:
        condition: service_healthy
      {{/databases}}
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}

{{/BackEnd}}

{{#Database.0}}
volumes:
{{/Database.0}}
  {{#Database}}
  {{name}}_data:
  {{/Database}}
