version: '3'
services:
{{#database}}
  {{dbName}}:
    image: {{{image}}}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}
    ports:
      - "{{dbHostPort}}:{{dbContainerPort}}"
    volumes:
      - {{dbName}}_data:/var/lib/postgresql/data
{{/database}}
{{#frontend}}

  {{name}}:
    image: {{{image}}}
    ports:
      - "{{hostPort}}:{{containerPort}}"
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}
{{/frontend}}
{{#backend}}
  {{name}}:
    image: {{image}}
    ports:
      - "{{hostPort}}:{{containerPort}}"
    depends_on:
      {{#databases}}
      {{dbName}}:
        condition: service_healthy
      {{/databases}}
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}

{{/backend}}

{{#database.0}}
volumes:
{{/database.0}}
  {{#database}}
  {{dbName}}_data:
  {{/database}}
