version: '3'
services:
{{#Database}}
  {{name}}:
    image: {{{image}}}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{dbUser}} -d {{name}}"]
      interval: 15s
      timeout: 15s
      retries: 15
    deploy:
      replicas: {{numberOfReplicas}}
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}
    ports:
      - "{{port}}:5432"
    labels:
      kompose.image-pull-policy: {{imagePullPolicy}}
    volumes:
      - {{name}}_data:/var/lib/postgresql/data
{{/Database}}
{{#BackEnd}}
  {{name}}:
    image: {{{image}}}
    ports:
      - "{{port}}:{{port}}"
    deploy:
      replicas: {{numberOfReplicas}}
    labels:
      kompose.image-pull-policy: {{imagePullPolicy}}
    {{#databases.0}}
    depends_on:
    {{/databases.0}}
      {{#databases}}
      {{name}}:
        condition: service_healthy
      {{/databases}}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:4005/api/ping"]
      interval: 10s
      timeout: 10s
      retries: 5
    labels:
      kompose.image-pull-policy: Always
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}

{{/BackEnd}}
{{#FrontEnd}}

  {{name}}:
    image: {{{image}}}
    ports:
      - "{{port}}:80"
    deploy:
      replicas: {{numberOfReplicas}}
    labels:
      kompose.image-pull-policy: {{imagePullPolicy}}
    {{#backends.0}}
    depends_on:
    {{/backends.0}}
      {{#backends}}
      {{name}}:
        condition: service_healthy
      {{/backends}}
    {{#envVariables.0}}
    environment:
    {{/envVariables.0}}
    {{#envVariables}}
      {{name}}: "{{{value}}}"
    {{/envVariables}}
{{/FrontEnd}}

{{#Database.0}}
volumes:
{{/Database.0}}
  {{#Database}}
  {{name}}_data:
  {{/Database}}
